* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  list-style: none;
}

body {
  background-color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-family: sans-serif;
}

.body{
  background-color: rgb(53, 0, 0);
}

.body1 {
  background-color: rgb(53, 0, 0);
  background-image: url(../img/fondoinicio.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}




@media screen and (max-width: 480px) {
  
  /* header */

  header{
    width: 100%;
  }

  .header .container-fluid a img {
    width: 100px;
  }

  /* index */

  .main1{
    height: 1vh;
  }
  
  .main1 .bannerh1 {
    margin-top: 160px;
    font-size: 3.5em;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(125, 0, 0);
    border-radius: 35px;
    padding: 12px;
  }
  
  .main1 .banner .Asesoramiento{
    text-align: center;
    font-size: 1.3em;
    margin-top: 30px;
  }

  .main1 .banner h3{
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    margin: 10px;
    padding: 20px;
  }

  .main1 .banner .boton{
    text-align: center;
    height: 80px;
    font-size: 1em;
    margin-top: 30px;
  }

/* sobre mi */

.main{
  height: 50vh;
  max-width: 1000px;
  min-width:320px;
}

.main .contenedor1 .titulo h1{
  margin-top: 20px;
  text-align: center;
  font-size: 2.5em;
}
.main .contenedor1 .info h4{
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  
}
.contenedor1 .info p {
  text-align: center;
  font-size: 1em;
  margin-top: 20px;
}

.main .contenedor1 .contenedorsobremi img{
  margin-top: 70px;
  width: 100%;
  border-radius: 100px;
}

#frame{
  margin-top: 100px;
  width: 100%;
}

/* servicios */

.container2{
  height: 205vh;
}

.titulo2 h1{
  text-align: center;
  font-size: 2.3em;
  margin-top: 10px;
}
.subtitulo {
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
}

.info2 h2{
  text-decoration: underline;
  text-align: center;
  margin-bottom: 15px;
  
}
.form ul li{
  margin-top: 30px;
}

.form img{
  width: 100%;
}




/* precio */

.main2{
  height: 220vh;
}

.main2 .contenedor {
  display: grid;
  grid-template-columns: repeat(4);
}
.main2 .contenedor .titulo3 h1{
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;
}

.main2 .contenedor .container .columna {
  border: 4px solid rgb(255, 255, 255);
  padding: 1.5em;
  margin-top: 40px;
  border-radius: 30px;
}
.main2 .contenedor .container .columna h2 {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 4px solid rgb(255, 0, 0);
  margin-bottom: 10px;
}
.main2 .contenedor .container .columna .Precio {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  margin-bottom: 1.5px;
}
.main2 .contenedor .container .columna ul {
  list-style: none;
  text-align: center;
  gap: 20px;
}
.main2 .contenedor .container .columna ul li {
  margin: 5px;
  margin-top: 10px;
  font-size: 1.2em;
}
.main2 .contenedor .container .columna .botonprecio {
  display: flex;
  justify-content: center;
}
.contenedor .container .columna .botonprecio a {
  margin-top: 20px;
  border: 4px solid rgb(255, 0, 0);
  padding: 10px 40px;
  box-shadow: 2px 3px rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #2b2b2b;
  text-decoration: none;
}

/* contactanos */

.maincontacto{
  height: 10vh;
}

.formulario .mb-4{
  margin-top: 30px;
  text-align: center;
}

.formulario .form-group{
  margin-top: 10px;
  padding: 10px;
  width: 350px;
}


/* footer */

.footer{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.footer .container {
  background-color: rgb(39, 39, 39);
}

.footer .container .footer-links {
  margin-top: 20px;
  
}
.footer .container .footer-row .footer-links h4 {
  display: inline-block;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-bottom: 4px solid #ff0000;
  padding-bottom: 10px;
}
.footer .container .footer-row .footer-links ul li a {
  display: flex;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  color: rgb(135, 135, 135);
  transition: all 0.3s ease;
}
.footer .container .footer-row .footer-links ul li a:hover {
  display: flex;
  color: rgb(255, 0, 0);
  padding-left: 10px;
}

.footer .container .footer-row .footer-links .social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(55, 55, 55);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer .container .footer-row .footer-links .social-link a:hover {
  background-color: red;
}

}

/* mq tablet */
@media (min-width: 768px) {
  /* estilos  header */

  .header .container-fluid a img {
    width: 150px;
  }

  /* estilos del index */

  
  .main1 .banner {
    height: 1vh;
  } 
  .main1 .bannerh1 {
    margin-top: 200px;
    font-size: 7em;
    text-decoration: underline;
  }
  .main1 .banner .Asesoramiento{
    text-align: center;
    font-size: 2em;
    margin-top: 40px;
  }
  .main1 .banner h3{
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
  }

  .main1 .banner .boton a {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    margin: 20px;
    padding: 20px;
    font-size: 1em;
  }
  
  /* estilos sobre mi */

  .main{
    height: 30vh;
    max-width: 1000px;
    min-width:320px;
  }
  
  .main .contenedor1 .titulo h1{
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
  }
  .main .contenedor1 .info h4{
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    
  }
  .contenedor1 .info p {
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
  }
  
  .main .contenedor1 .contenedorsobremi img{
    margin-top: 70px;
    width: 100%;
    border-radius: 100px;
  }
  
  #frame{
    margin-top: 100px;
    width: 100%;
  }

  /* servicios */

  .container2{
    height: 250vh;
  }
  
  .container2 .titulo2 h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 10px;
  }
  .container2 .subtitulo {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
  
  .container2 .info2 h2{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
    
  }
  .form ul li{
    margin-top: 40px;
  }
  
  .form img{
    width: 100%;
  }

  /* precio */
  
  .main2{
    height: 120vh;
  }
  
  .main2 .contenedor {
    display: grid;
    grid-template-columns: repeat(4);
  }
  .main2 .contenedor .titulo3 h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
  }
  
  .main2 .contenedor .container .columna {
    border: 4px solid rgb(255, 255, 255);
    padding: 1.5em;
    margin-top: 40px;
    border-radius: 30px;
  }
  .main2 .contenedor .container .columna h2 {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 4px solid rgb(255, 0, 0);
    margin-bottom: 10px;
  }
  .main2 .contenedor .container .columna .Precio {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    margin-bottom: 1.5px;
  }
  .main2 .contenedor .container .columna ul {
    list-style: none;
    text-align: center;
    gap: 20px;
  }
  .main2 .contenedor .container .columna ul li {
    margin: 5px;
    margin-top: 10px;
    font-size: 1.2em;
  }
  .main2 .contenedor .container .columna .botonprecio {
    display: flex;
    justify-content: center;
  }
  .contenedor .container .columna .botonprecio a {
    margin-top: 20px;
    border: 4px solid rgb(255, 0, 0);
    padding: 10px 40px;
    box-shadow: 2px 3px rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #2b2b2b;
    text-decoration: none;
  }

  /* contactanos */

  .maincontacto{
    height: 1vh;
  }
  
  .formulario .mb-4{
    font-size: 3em;
    margin-top: 30px;
    text-align: center;
  }
  
  .formulario .form-group{
    margin-top: 20px;
    padding: 10px;
    width: 350px;
  }
  
  /* footer */

  .footer{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.footer .container {
  background-color: rgb(39, 39, 39);
}

.footer .container .footer-links {
  margin-top: 20px;
  
}
.footer .container .footer-row .footer-links h4 {
  display: inline-block;
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-bottom: 4px solid #ff0000;
  padding-bottom: 10px;
}
.footer .container .footer-row .footer-links ul li a {
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  color: rgb(135, 135, 135);
  transition: all 0.3s ease;
}
.footer .container .footer-row .footer-links ul li a:hover {
  display: flex;
  color: rgb(255, 0, 0);
  padding-left: 10px;
}

.footer .container .footer-row .footer-links .social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(55, 55, 55);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer .container .footer-row .footer-links .social-link a:hover {
  background-color: red;
}
}

/* mq desktop */
@media (min-width: 1024px) {


  /* estilo index */
  
  .main1 .banner {
    height: 1vh;
  } 
  .main1 .bannerh1 {
    margin-top: 200px;
    font-size: 9em;
    text-decoration: underline;
  }
  .main1 .banner .Asesoramiento{
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
  }
  .main1 .banner h3{
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    border-radius: 30px;
  }

  .main1 .banner .boton a {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 60px;
    padding: 20px;
    font-size: 1.5em;
  }

  /* estilos sobre mi */

  .main{
    height: 1vh;
    max-width: 1000px;
    min-width:320px;
  }
  
  .main .contenedor1 .titulo h1{
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
  }
  .main .contenedor1 .info h4{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    
  }
  .main .contenedor1 .info p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .main .contenedor1 .contenedorsobremi img{
    margin-top: 70px;
    width: 100%;
    border-radius: 100px;
  }
  
  #frame{
    margin-top: 100px;
    width: 100%;
  }

  /* servicios */

  .container2{
    height: 280vh;
  }
  
  .container2 .titulo2 h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 10px;
  }
  .container2 .subtitulo {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
  
  .container2 .info2 h2{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
    
  }
  .form ul li{
    margin-top: 40px;
  }
  
  .form img{
    width: 100%;
  }

  /* precio */

  .main2{
    height: 70vh;
  }
  
  .main2 .contenedor {
    display: grid;
    grid-template-columns: repeat(4);
  }
  .main2 .contenedor .titulo3 h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
  }
  
  .main2 .contenedor .container .columna {
    border: 4px solid rgb(255, 255, 255);
    padding: 1.5em;
    margin-top: 40px;
    border-radius: 30px;
  }
  .main2 .contenedor .container .columna h2 {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 4px solid rgb(255, 0, 0);
    margin-bottom: 10px;
  }
  .main2 .contenedor .container .columna .Precio {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    margin-bottom: 1.5px;
  }
  .main2 .contenedor .container .columna ul {
    list-style: none;
    text-align: center;
    gap: 20px;
  }
  .main2 .contenedor .container .columna ul li {
    margin: 5px;
    margin-top: 10px;
    font-size: 1.2em;
  }
  .main2 .contenedor .container .columna .botonprecio {
    display: flex;
    justify-content: center;
  }
  .contenedor .container .columna .botonprecio a {
    margin-top: 20px;
    border: 4px solid rgb(255, 0, 0);
    padding: 10px 40px;
    box-shadow: 2px 3px rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #2b2b2b;
    text-decoration: none;
  }

  /* contactanos */

  .maincontacto{
    height: 0vh;
  }
  
  .formulario .mb-4{
    font-size: 3em;
    margin-top: 30px;
    text-align: center;
  }
  
  .formulario .form-group{
    margin-top: 20px;
    padding: 10px;
    margin: 20px;
    width: 500px;
  }

  /* footer */

  .footer{
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  
  .footer .container {
    background-color: rgb(39, 39, 39);
  }
  
  .footer .container .footer-links {
    margin-top: 20px;
    
  }
  .footer .container .footer-row .footer-links h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4em;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-bottom: 4px solid #ff0000;
    padding-bottom: 10px;
  }
  .footer .container .footer-row .footer-links ul li a {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(135, 135, 135);
    transition: all 0.3s ease;
  }
  .footer .container .footer-row .footer-links ul li a:hover {
    display: flex;
    color: rgb(255, 0, 0);
    padding-left: 10px;
  }
  
  .footer .container .footer-row .footer-links .social-link a {
    min-height: 40px;
    width: 100%;
    background-color: rgb(55, 55, 55);
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.5s ease;
  }
  .footer .container .footer-row .footer-links .social-link a:hover {
    background-color: red;
  }

}


@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
#fondoinicio {
  background-image: url(../img/fondoinicio.jpg);
}

.banner {
  margin: 6em;
  line-height: 2;
}
.banner h1 {
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  border-radius: 20px 2px 2px;
  color: rgb(100, 100, 100);
}
.banner .Asesoramiento {
  font-size: 1.5em;
}
.banner p {
  font-size: 1.3em;
  text-align: center;
  margin: 20px 0px;
  color: white;
}
.banner .boton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.banner .boton a {
  display: flex;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 2px 2px 10px rgb(255, 0, 0);
  background-color: #1a1a1a;
  color: white;
  margin-top: 10px;
  margin: 10px;
  padding: 10px;
}

/* footer */

.footer {
  background-color: rgb(29, 29, 29);
  margin-top: 170%;
  width: 100%;
}

.footer-links {
  padding: 85px;
}
.footer-links h4 {
  text-align: center;
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  border-bottom: 2px solid #ff0000;
  padding-bottom: 10px;
}
.footer-links ul li a {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: rgb(166, 166, 166);
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: white;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(55, 55, 55);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.social-link a:hover {
  background-color: red;
}

@media (min-width: 1200px){

/* INDEX */

.main1 .banner {
  height: 0vh;
} 
.main1 .bannerh1 {
  margin-top: 200px;
  font-size: 9em;
  text-decoration: underline;
}
.main1 .banner .Asesoramiento{
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
}
.main1 .banner h3{
  text-align: center;
  margin-top: 40px;
  font-size: 2em;
  border-radius: 30px;
}

.main1 .banner .boton a {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 60px;
  padding: 20px;
  font-size: 1.5em;
}

/* SOBRE MI */

.main{
  height: 1vh;
  max-width: 1920px;
  min-width:320px;
}

.main .contenedor1 .titulo h1{
  margin-top: 30px;
  text-align: center;
  font-size: 3em;
}
.main .contenedor1 .info h4{
  margin-top: 50px;
  text-align: center;
  font-size: 1.5em;
  
}
.main .contenedor1 .info p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 70px;
}

.contenedor1 .contenedorsobremi{
  width: 70%;
  margin: 250px;
}

#frame{
  margin-top: 100px;
  width: 100%;
}

/* SERVICIOS */

.container2{
  height: 100vh;
}

.container2 .titulo2 h1{
  text-align: center;
  font-size: 2.5em;
  margin-top: 10px;
}
.container2 .subtitulo {
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
}

.container2 .info2 h2{
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
  
}

.form{
  display: flex;
  justify-content: center;
}

.form ul li{
  text-align: center;
  margin-top: 40px;
}

.form .infoimg{
  width: 100%;
}

/* PRECIO */

.contenedor{
  height: 1vh;
}

.main2 .contenedor .container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
}

.main2 .contenedor .titulo3{
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.main2 .contenedor .container .columna {
  border: 4px solid rgb(255, 255, 255);
  padding: 1.5em;
  margin-top: 40px;
  border-radius: 30px;
}
.main2 .contenedor .container .columna h2 {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 4px solid rgb(255, 0, 0);
  margin-bottom: 10px;
}
.main2 .contenedor .container .columna .Precio {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  margin-bottom: 1.5px;
}
.main2 .contenedor .container .columna ul {
  list-style: none;
  text-align: center;
  gap: 20px;
}
.main2 .contenedor .container .columna ul li {
  margin: 10px;
  margin-top: 25px;
  font-size: 1.2em;
}
.main2 .contenedor .container .columna .botonprecio {
  display: flex;
  justify-content: center;
}
.contenedor .container .columna .botonprecio a {
  margin-top: 20px;
  border: 4px solid rgb(255, 0, 0);
  padding: 10px 40px;
  box-shadow: 2px 3px rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #2b2b2b;
  text-decoration: none;
}

/* CONTACTANOS */

.maincontacto{
  height: 0vh;
}

.formulario .mb-4{
  font-size: 3em;
  margin-top: 30px;
  text-align: center;
}

.formulario .form-group{
  margin-top: 20px;
  padding: 10px;
  margin: 20px;
  width: 600px;
}


/* FOOTER */

.footer{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.footer .container {
  background-color: rgb(39, 39, 39);
}

.footer .container .footer-links {
  margin-top: 20px;
  
}
.footer .container .footer-row .footer-links h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4em;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-bottom: 4px solid #ff0000;
  padding-bottom: 10px;
}
.footer .container .footer-row .footer-links ul li a {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(135, 135, 135);
  transition: all 0.3s ease;
}
.footer .container .footer-row .footer-links ul li a:hover {
  display: flex;
  color: rgb(255, 0, 0);
  padding-left: 10px;
}

.footer .container .footer-row .footer-links .social-link a {
  min-height: 40px;
  width: 100%;
  background-color: rgb(55, 55, 55);
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer .container .footer-row .footer-links .social-link a:hover {
  background-color: red;
}

}


/*# sourceMappingURL=style.css.map */
