.maincontacto {
    height: 10vh;
}

.formulario {
    .mb-4 {
        margin-top: 30px;
        text-align: center;
    }

    .form-group {
        margin-top: 10px;
        padding: 10px;
        width: 350px;
    }
}