.footer {
    position: absolute;
    display: flex;
    flex-direction: column;

    .container {
        background-color: rgb(39, 39, 39);

        .footer-links {
            margin-top: 20px;
        }

        .footer-row .footer-links {
            h4 {
                display: inline-block;
                font-size: 2.5em;
                color: rgb(255, 255, 255);
                margin-bottom: 10px;
                border-bottom: 4px solid #ff0000;
                padding-bottom: 10px;
            }

            ul li a {
                display: flex;
                font-size: 15px;
                text-decoration: none;
                text-align: center;
                margin: 20px;
                color: rgb(135, 135, 135);
                transition: all 0.3s ease;

                &:hover {
                    display: flex;
                    color: rgb(255, 0, 0);
                    padding-left: 10px;
                }
            }

            .social-link a {
                display: inline-block;
                min-height: 40px;
                width: 40px;
                background-color: rgb(55, 55, 55);
                margin: 0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: #FFFFFF;
                transition: all 0.5s ease;

                &:hover {
                    background-color: red;
                }
            }
        }
    }
}